page-register {
.input{
    color: white
}


        .list {
            height: 500px;
           border-bottom-right-radius: 10px;
           border-top-right-radius: 10px;
           
           background-color: #268ef0 ;
           margin-left: -17px;

           margin-top:-10px
          
        }
.primartybtn{
    color: black;
    background-color: white;
   
}
.item{

    background-color: #268ef0 ;
}

.label {
    
    color: rgb(255,255,255);
}

.content {
    
    background-color: black;
        .fixed-content {
            background-image: url("../assets/imgs/image6.jpg");
            background-repeat:no-repeat;
            background-size:     cover;                      
            background-repeat:   no-repeat;
            background-position: center center;   
            opacity: 0.3;
            width:100%;
            height:100%;
            
        }
    }
}
