page-prescription {
    .content {
    
        background-color: black;
            .fixed-content {
                background-image: url("../assets/imgs/image6.jpg");
                background-repeat:no-repeat;
                background-size:     cover;                      
                background-repeat:   no-repeat;
                background-position: center center;   
                opacity: 0.3;
                width:100%;
                height:100%;
                
            }
        }

        .button{
            background-color: #0a0a0a
        }


        .label{
            color: black
        }
}
